useDynLib(gRapHD)

export(minForest,calcStat,chStat,DFS,findEd,neighbours,MCS,perfSets,randTree,
       stepw,rowProds,sortMat,SubGraph,neighbourhood,adjMat,Degree,
       shortPath,convData,fit,modelFormula,modelDim,jTree,ccoeff,
       summary.gRapHD,print.gRapHD,show.gRapHD,plot.gRapHD,CI.test,
       matrix.gRapHD,gRapHD.graphNEL,graphNEL.gRapHD,initialize.gRapHD,stepb)

#importFrom(methods,is,as)

importClassesFrom(graph,graphNEL)

       
#S3method(summary, gRapHD)
#S3method(print, gRapHD)
#S3method(is, gRapHD)
#S3method(as, gRapHD)
#S3method(plot, gRapHD)